
<h1>Terms &amp; conditions</h1>
<p>
This web application is free software designed to help people check data published to the
{% if app == 'cove_360' %}360Giving Standard.{% endif %}
{% if app == 'cove_ocds' %}Open Contracting Data Standard (OCDS).{% endif %}
{% if app == 'cove_iati' %}IATI data standard.{% endif %}
</p>

<p>It is offered as service WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>
If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy notice govern
  {% if app == 'cove_360' %}360Giving's{% endif %}
 {% if app == 'cove_ocds' %}Open Contracting Partnership's{% endif %}
  {% if app == 'cove_iati' %}Open Data Services Co-operative Limited's{% endif %}
  relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
</p>

{% if app == 'cove_iati' %}
<p>The term 'Open Data Services Co-operative Limited' or 'us' or 'we' refers to the owner of the website. Our company registration number is 09506232. Our registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. You can contact us by email <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a>. There is more company information on the <a href="https://opencorporates.com/companies/gb/09506232">Open Data Services Co-operative Limited page at Open Corporates</a>. The term 'you' refers to the user or viewer of our website.</p>
{% elif app == 'cove_360' %}
<p>The term ‘360Giving’ or ‘us’ or ‘we’ refers to the owner of the website. Our company registration number is 09668396. Our registered address is 360Giving, c/o Esmée Fairbairn Foundation, King's Place, 90 York Way, London, N1 9AG. You can contact us by email <a href="mailto:info@threesixtygiving.org">info@threesixtygiving.org</a>.</p>
<p>The site is operated by Open Data Services Co-operative Limited.</p>
<p>The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of 360Giving. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a></p>
{% elif app == 'cove_ocds' %}
<p>The term ‘Open Contracting Partnership’ or ‘us’ or ‘we’ refers to the owner of the website. You can contact us by email <a href="mailto:data@open-contracting.org">data@open-contracting.org</a></p>
<p>The site is operated by Open Data Services Co-operative Limited.</p>
<p>The term 'Open Data Services Co-operative Limited' refers to the operator of the website on behalf of the Open Contracting Partnership. Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a></p>
{% endif %}

<p>The use of this website is subject to the following terms of use:</p>

<p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>

<p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</p>

