{% load i18n %}
{% load cove_tags %}

<table class="table table-condensed">
<thead> 
  <tr> 
    <th>{% trans 'Error Description' %}</th> 
    <th>{% trans 'Error Count' %}</th> 
    <th>{% trans 'First 3 Examples' %}</th> 
    <th>{% trans 'Location of first 3 errors' %}</th> 
    {% if file_type == 'xlsx' or file_type == 'csv' or file_type == 'ods' %}
      <th>{% trans 'Spreadsheet Location of first 3 errors' %}</th> 
    {% endif %}
  </tr> 
</thead>
<tbody>
{% for error_json, values in validation_errors %}
{% with error=error_json|json_decode %}
<tr>
  <td>
    <p>
      {% if error.message_safe %}
        {# Still used by BODS cove #}
        <strong>{{ error.message_safe | safe }}</strong>
      {% else %}
        {# Used by other coves and is the preferred way to do this going forward #}
        <strong>{{ error | html_error_msg }}</strong>
      {% endif %}
      {% if error.message_type in common_error_types %}
        <a href="{% url 'common_errors' %}#{{error.message_type}}" target="_blank">{% trans "(more info)" %}</a>
      {% endif %}
    </p>
    {% if 'schema_title' in error %}
    <div class="well well-sm">
      <h4>{{ error.schema_title }}</h4>
      <p>{{ error.schema_description_safe | safe }}</p>
    </div>
    {% endif %}
  </td>
  <td class="text-center">
    {% if values|length > 3 %}
      <a data-toggle="modal" data-target=".{{"validation-errors-"|concat:forloop.counter}}">
        {{values|length}}
      </a>
    {% else %}
        {{values|length}}
    {% endif %}
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
        <li> {{value.value}} </li>
      {% endfor %}
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
        <li>
          {% if value.line %}
            <b>{% trans 'Path:' %}</b> {{value.path}}
            <b>{% trans 'Line:' %}</b> {{value.line}}
          {% else %}
            {{ value.path }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </td>
  {% if file_type == 'xlsx' or file_type == 'csv' or file_type == 'ods'  %}
  <td style="white-space: nowrap">
    <ul class="list-unstyled">
      {% for value in values|slice:":3" %}
      <li> <b>{% trans "Sheet:" %}</b> {{value.sheet}} <b>{% trans "Row:" %}</b>{{value.row_number}} {% if value.header %}<b>{% trans "Column:" %}</b>{{value.header}} {% endif %}</li>
      {% endfor %}
    </ul>
  </td>
  {% endif %}
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>
