pip==19.3.1
Django==1.11.26
django-bootstrap3==11.1.0
django-debug-toolbar==2.1
requests==2.22.0
cached-property==1.5.1
dealer==2.1.0
django-environ==0.4.5
jsonschema==3.2.0
jsonref==0.2
json-merge-patch==0.2
python-dateutil==2.8.1
raven==6.10.0
strict-rfc3339==0.7
rfc3987==1.3.8
rfc6266==0.0.4
bleach==3.1.0
xmltodict==0.12.0
libcove==0.12.2


flake8==3.7.9
pytest==5.3.1
pytest-django==3.7.0
pytest-cov==2.8.1
pytest-localserver==0.5.0
pytest-xdist==1.30.0
coveralls==1.8.2
selenium==3.141.0
transifex-client==0.13.6
libsass==0.19.4
hypothesis==4.47.4
## The following requirements were added by pip freeze:
apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.6.16
chardet==3.0.4
commonmark==0.9.0
coverage==4.5.3
docopt==0.6.2
entrypoints==0.3
execnet==1.6.0
future==0.17.1
idna==2.8
importlib-metadata==0.18
LEPL==5.1.3
mccabe==0.6.1
more-itertools==7.0.0
packaging==19.0
pluggy==0.12.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.0
pyrsistent==0.15.2
pytest-forked==1.0.2
python-slugify==1.2.6
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
Unidecode==1.1.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
zipp==0.5.1
