pip
Django>=1.11.23,<1.12
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
jsonref
json-merge-patch
python-dateutil
raven
strict-rfc3339
rfc3987
rfc6266
bleach
xmltodict
libcove

