attrs==19.3.0
bleach==3.1.4
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
commonmark==0.9.1
contextlib2==0.6.0.post1
dealer==2.1.0
defusedxml==0.6.0
django-bootstrap3==12.0.3
django-debug-toolbar==2.2
django-environ==0.4.5
django==2.2.13
et-xmlfile==1.0.1
flattentool==0.11.0
idna==2.9
jdcal==1.4.1
json-merge-patch==0.2
jsonref==0.2
jsonschema==3.2.0
lepl==5.1.3
libcove==0.17.0
lxml==4.5.0
odfpy==1.4.1
openpyxl==2.6.4
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
rfc3987==1.3.8
rfc6266==0.0.4
schema==0.7.2
sentry-sdk==0.14.3
six==1.14.0
sqlparse==0.3.1
strict-rfc3339==0.7
urllib3==1.25.9
webencodings==0.5.1
xmltodict==0.12.0
zipp==1.2.0
