pip
Django<1.12
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
jsonref
json-merge-patch
python-dateutil
raven
strict-rfc3339
rfc3987
rfc6266
bleach
xmltodict
-e git+https://github.com/OpenDataServices/lib-cove.git@master#egg=libcove

